@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url(https://i.pinimg.com/originals/6a/2a/49/6a2a490fa979f32f6337212b18e65e1d.gif);
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Ensures no repetition of the image */
    overflow: hidden; /* Prevents unwanted scrollbars */
}

p {
    font-size: large;
    color: white; /* Optional: You may want to adjust the color of the text for readability */
}

